html,
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#scene-container, #scene-container canvas {
  width: 100%;
  height: 100%;
}

#scene-container {
  position: relative;
}

.inputs {
  position: absolute;
  top: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.input {
  padding: 10px;
  margin-right: 5px;
  text-align: center;
  border: 2px solid;
  border-radius: 5px;
}
#btn--clear {
  padding: 10px;
}